* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Josefin Sans', sans-serif;
}

header {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("img/img2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

nav {
  background-color: rgb(0, 0, 0, 0.2);
  width: 100%;
  height: 15vh;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
}

.logo {
  width: 25%;
  text-align: center;
  color: red;
}

.menu {
  width: 40%;
  display: flex;
  justify-content: space-around;
}

.menu a {
  width: 25%;
  text-decoration: none;
  font-weight: bolder;
  color: white;
}

.menu a:first-child {
  color: red;
}

main {
  color: white;
  width: 100%;
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.col {
  color: red;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: bold;
}

section h1 {
  margin: 30px 0 20px 0;
  font-size: 55px;
  font-weight: 700;
  text-shadow: 2px 1px 5px blaqck;
  text-transform: uppercase;
}

section h3 {
  font-size: 35px;
  font-weight: 200;
  letter-spacing: 3px;
  text-shadow: 1px 1px 2px black;
  font-weight: bold;
}

p {
  font-size: 25px;
  word-spacing: 2px;
  margin-bottom: 25px;
  text-shadow: 1px 1px 1px black;
  font-weight: bolder;
}

section a {
  padding: 12px 30px;
  border-radius: 4px;
  outline: none;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
  text-decoration: none;
  letter-spacing: 1px;
  transition: all 0.5s ease;
}

.btnone {
  background-color: #fff;
  color: #000;
}

.btnone:hover {
  background-color: #03bbc1;
  color: white;
}

.btntwo {
  background-color: #00b894;
  color: white;
}

.btntwo:hover {
  background-color: #03bbc1;
  color: white;
}

.change_content:after {
  content: '';
  animation: changetext 120s infinite linear;
  color: red;
  font-size: 4rem;
  text-decoration: underline;
}

@keyframes changetext {
  0% {
    content: "Patna";
  }

  3% {
    content: "Nalanda"
  }

  6% {
    content: "Munger";
  }

  9% {
    content: "Vaishali";
  }

  12% {
    content: "Gaya";
  }

  15% {
    content: " Navlakha Palace, Rajnagar";
  }

  18% {
    content: "Jalmandir, Pawapuri";
  }

  21% {
    content: " Hieun Tsang Memorial Hall, Kundalpur";
  }

  24% {
    content: " Griddhakuta Peak, Rajgir";
  }

  27% {
    content: " Vishwa Shanti Stupa, Rajgir";
  }

  30% {
    content: "her Shah Suri Tomb, Sasaram";
  }

  33% {
    content: "Vikramshila Ruins, Bhagalpur";
  }

  36% {
    content: "Janki Temple, Sitamarhi";
  }

  39% {
    content: "Kanwar Lake Bird Sanctuary, Begusarai";
  }

  42% {
    content: " Kesaria Stupa, Kesaria (East Champaran)";
  }

  45% {
    content: "Barabar Caves, Sultanpur";
  }

  48% {
    content: "Thai Monastery, Bodhgaya";
  }

  51% {
    content: "Buxar Fort, Buxar";
  }

  54% {
    content: "Witness Animal Trade at Sonepur Fair, Sonepur";
  }

  57% {
    content: "Seek Blessing of Shah Daulat at Choti Dargah, Patna";
  }

  60% {
    content: "See Healing Miracles at Hazrat Bibi Kamal, Jehanabad";
  }

  63% {
    content: "Yoga at Munger, Munger";
  }

  66% {
    content: "Try the Cuisine of Bihar";
  }

  69% {
    content: "Attend the Chhath Festival";
  }

  72% {
    content: "Witness Madhubani Art";
  }

  75% {
    content: "Shop for Handloom and Handicraft"
  }

  78% {
    content: "Interact with Tribals";
  }

  81% {
    content: " Enjoy the Chhau Dance Performance";
  }

  84% {
    content: "Take a ride on Mahaparinirvan Express";
  }

  87% {
    content: "Visit the Birth Place of Sita";
  }

  90% {
    content: "Nalanda University";
  }

  93% {
    content: "Dr. Rajendra Prasad Central Agricultural Universit";
  }

  96% {
    content: "Litchi in Muzaffarpur"
  }

  100% {
    content: "Mahatma Gandhi Setu";
  }
}

.bubble img {
  width: 60px;
  animation: bubble 7s linear infinite;
}

.bubble {
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  bottom: 0;
  width: 80%;
}

@keyframes bubble {
  0% {
    transform: translateY(0);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  70% {
    opacity: 1;
  }

  100% {
    transform: translateY(-80vh);
    opacity: 0;
  }
}

.bubble img:nth-child(1) {
  animation-delay: 2s;
}

.bubble img:nth-child(2) {
  animation-delay: 1s;
}

.bubble img:nth-child(3) {
  animation-delay: 3s;
}

.bubble img:nth-child(4) {
  animation-delay: 4.5s;
}

.bubble img:nth-child(5) {
  animation-delay: 6s;
}

.bubble img:nth-child(6) {
  animation-delay: 2s;
}

.bubble img:nth-child(7) {
  animation-delay: 5s;
}
